@page "/addentity"
@using RESTFull.Domain

@using System.Net.Http
@inject HttpClient HttpClient
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Newtonsoft.Json

<h3>Добавление юр. лица</h3>

<input @bind="newName" placeholder="Имя юр. лица"/>
<input @bind="newAddress" placeholder="Адрес юр. лица"/>
<input @bind="newCeo" placeholder="Имя CEO Юр. лица"/>
<input @bind="newFond" placeholder="Фонд юр. лица"/>
<input @bind="newUrl" placeholder="Url юр. лица"/>
<button @onclick="addEntity">Добавить</button>
<p class="mt-5"> @responseMessage </p>
<p> @jsonString</p>

@* <input @bind="memberName" placeholder="member name"/> *@
@* <button @onclick="addMember">Добавить</button> *@


@code {
    private string newName = "";
    private string newAddress = "";
    private string newCeo = "";
    private long newFond = 0;
    private string newUrl = "";

    // private string memberName;
    
    private HttpResponseMessage? responseMessage;
    
    
    private string jsonString = JsonConvert.SerializeObject("test");

    
    [Parameter]
    public EventCallback<string> onAddEntity { get; set; }

    private async Task addEntity()
    {

        // var map = new Dictionary<string, string>
        // {
            // { "name", newName },
            // { "address", newAddress },
            // { "ceo", newCeo },
            // { "fond", newFond.ToString() }
        // };

        var entity = new LegalEntity
        {
            name = newName,
            address = newAddress,
            ceo = newCeo,
            fond = newFond,
            Url = newUrl
        };
        
        newName = "";
        newAddress = "";
        newCeo = "";
        newFond = 0;
        newUrl = "";
        
        // jsonString = JsonConvert.SerializeObject(map);
        jsonString = JsonConvert.SerializeObject(entity);
        
        // responseMessage = await HttpClient.PostAsJsonAsync("https://localhost:7216/api/legal", map);
        responseMessage = await HttpClient.PostAsJsonAsync("https://localhost:7216/api/legal", entity);
        await onAddEntity.InvokeAsync("OK");
    }

    /*
    private async Task addMember()
    {
        var member = new Member
        {
            fullName = memberName
        };
        memberName = "";
        
        jsonString = JsonConvert.SerializeObject(member);
        
        responseMessage = await HttpClient.PostAsJsonAsync("https://localhost:7216/api/test/test", member);
    }
    */

}