@page "/deleteentity"
@using RESTFull.Domain
@using System.Net.Http
@using System.Net
@inject HttpClient HttpClient

<h3>LegalList</h3>
<p>@MessageAdd</p>

@if (!loading && entities == null)
{
    <p> Юр. лица отсутствуют</p>
}
else if (loading && entities == null)
{
    <p>Загрузка...</p>
}

@if (entities != null)
{
    <div class="container">
        @foreach (var entity in entities)
        {
            <div class="d-flex justify-content-evenly">
                <span>@entity.name</span>
                <span> | </span>
                <span>@entity.address</span>
                <span> | </span>
                <button
                    class="btn btn-danger"
                    @onclick="@(e => deleteEntity(entity.id))">
                    
                    <span class="oi oi-trash"></span>
                </button>
            </div>
        }
        </div>
}

<p>@testt</p>
<p>@rez</p>


@code {

    [Parameter]
    public string? MessageAdd { get; set; }

    private IEnumerable<LegalEntity>? entities;
    private bool loading = true;
    //!!!!!!!!!!!!!1
    private string testt = "";
    private HttpResponseMessage? rez;
    //!!!!!!!!!!!!!1
    
    protected override async Task OnParametersSetAsync() =>
        entities = (await HttpClient.GetFromJsonAsync<LegalEntity[]>
            ("https://localhost:7216/api/legal"));

    protected override async Task OnInitializedAsync()
    {
        entities = (await HttpClient.GetFromJsonAsync<IEnumerable<LegalEntity>>
            ("https://localhost:7216/api/legal"))!;
        loading = false;
    }


    private async Task deleteEntity(int id)
    {
        testt = id.ToString();
        rez = await HttpClient.DeleteAsync($"https://localhost:7216/api/legal/{id}");
        entities = (await HttpClient.GetFromJsonAsync<IEnumerable<LegalEntity>>
            ("https://localhost:7216/api/legal"))!;
        
    }
}
