@page "/entity/{entityId:int}"
@using RESTFull.Domain
@using System.Net.Http
@using System.Net
@inject HttpClient HttpClient
@inject NavigationManager _navigationManager

<h5>@rez</h5>

<h3>Данные Юр. лица</h3>


@if (entity == null)
{
    <p>Загрузка...</p>
}
else {
    <table class="table table-striped">
        <tbody>
        
        <tr>
            <th scope="row">name</th>
            <td>
                <input @bind="entity.name"/>
            </td>
        </tr>
        
        <tr>
            <th scope="row">address</th>
            <td>
                <input @bind="entity.address"/>
            </td>
        </tr>
        
        <tr>
            <th scope="row">ceo</th>
            <td>
                <input @bind="entity.ceo"/>
            </td>
        </tr>
        
        <tr>
            <th scope="row">fond</th>
            <td>
                <input @bind="entity.fond"/>
            </td>
        </tr>
        
        <tr>
            <th scope="row">Url</th>
            <td>
                <input @bind="entity.Url"/>
            </td>
        </tr>
        
        </tbody>
    </table>
   
    <button class="btn btn-success" @onclick="saveChanges">Save changes</button>
    
    <h3 class="mt-5">Члены Юр. лица</h3>
    <ul>
        @{ index = 0;}
        @foreach(var member in entity.members)
        {
            int loopindex = index;
            
            
            <li class="mt-3">
                <input @bind="@entity.members[loopindex].fullName"/>
                <span>@entity.members[loopindex].id</span>
                <button
                    class="btn btn-danger"
                    @onclick="@(e => entity.members.RemoveAt(loopindex))">
                    <span class="oi oi-trash"></span>
                </button>
            </li>
            index++;
        }
    </ul>
    
    <h5 class="mt-5">Добавить члена</h5>
    <div class="d-flex">
        <input @bind="newMemberName"/>
        <button
            class="bnt btn-outline-info"
            @onclick="@(e =>  
                                 entity.members.Add( 
                                     new Member {
                                         fullName = newMemberName, 
                                         legalEntityId = entityId } 
                                     )
                          )">
            <span class="oi oi-check"></span>
        </button>
    </div>
    
    <ul>
    @foreach (var member in entity.members)
    {
        <li>@member.fullName</li>
    }
        
    </ul>

}

@code {


    [Parameter]
    public int entityId { get; set; }
    
    private LegalEntity? entity = null;
    private int index = 0;
    private string newMemberName = "";
    
    
    private HttpResponseMessage? rez;
    
    protected override async Task OnInitializedAsync()
    {
        entity = await HttpClient.GetFromJsonAsync<LegalEntity>
            ($"https://localhost:7216/api/legal/{entityId}");
    }

    protected override async Task OnParametersSetAsync()
    {
        entity = await HttpClient.GetFromJsonAsync<LegalEntity>
            ($"https://localhost:7216/api/legal/{entityId}");
        
    }

    private async Task saveChanges()
    {
        rez = await HttpClient.PutAsJsonAsync($"https://localhost:7216/api/legal/{entityId}", entity);
    }

}
