@page "/findentity"
@using RESTFull.Domain
@using System.Net.Http
@using System.Net
@inject HttpClient HttpClient
<h3>FindEntity</h3>

<input @bind="name" placeholder="Имя юр. лица"/>
<button @onclick="findEntity">Искать</button>


<ul>
    
    @if (entity != null)
    {
        <li>@entity.name | @entity.address</li>
    }
    
</ul>
@code {
    private string name = "";
    private LegalEntity? entity = null;
    
    
    private async Task findEntity()
    {
        
        entity = await HttpClient.GetFromJsonAsync<LegalEntity>
            ($"https://localhost:7216/api/legal/{name}");
    }
}