﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?"/>
<h3>Из главного компонента @message</h3>

<LegalList MessageAdd=@message/>

<AddEntity onAddEntity="toMessage"/>

@code
{
    string message { get; set; } = "";

    void toMessage(string message1)
    {
        message = message1;
    }
    
}
