@page "/legallist"
@using RESTFull.Domain
@using System.Net.Http
@using System.Net
@inject HttpClient HttpClient

<h3>LegalList</h3>
<p>@MessageAdd</p>

@if (!loading && entities == null)
{
    <p> Юр. лица отсутствуют</p>
}
else if (loading && entities == null)
{
    <p>Загрузка...</p>
}

@if (entities != null)
{
    <ul>
        @foreach (var entity in entities)
        {
            <li>
                @entity.name | @entity.address | <a href="/entity/@entity.id">link</a>
            </li>
        }
    </ul>
}

@code {

    [Parameter]
    public string? MessageAdd { get; set; }

    private IEnumerable<LegalEntity>? entities;
    private bool loading = true;

    protected override async Task OnParametersSetAsync() =>
        entities = (await HttpClient.GetFromJsonAsync<LegalEntity[]>
            ("https://localhost:7216/api/legal"));

    protected override async Task OnInitializedAsync()
    {
        entities = (await HttpClient.GetFromJsonAsync<IEnumerable<LegalEntity>>
            ("https://localhost:7216/api/legal"))!;
        loading = false;
    }

}