﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legallist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Legal List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addentity">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Entity
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findentity" Match="NavLinkMatch.All">
                <span class="oi oi-fire" aria-hidden="true"></span> Search Entity:w
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deleteentity" Match="NavLinkMatch.All">
                <span class="oi oi-trash" aria-hidden="true"></span> Delete Entity:w
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}